/*************************************************************************/
/* FRD MEGAMENU  OW */
/*************************************************************************/
ul.frdmega_menu_1 li{
    background: #FFFFFF !important;
}
ul.frdmega_menu_1 li:hover {
    background: #F05421 !important;
    padding-left: 5px;
}
ul.frdmega_menu_1 li a.fcat{
    width: 100% !important;
    display: block !important;
}
ul.frdmega_menu_1 li:hover a.fcat{
    color: #FFF !important;
}

.frdmega_menu_1 > li > .megadrop {
    background: #FFFFFF !important;
    border-right: 5px solid #F05421 !important;
    height: 100%;
    display: block;
    overflow-y: scroll !important;

}

.frdmega_menu_1 .megadrop ul h4 a {
    color: #F05421 !important;
    padding: 5px !important;
    height: 100%;
}
.frdmega_menu_1 .megadrop ul h4 a:hover {
    color: #FFFFFF !important;
    background: #F05421 !important;
}

.frdmega_menu_1 .megadrop ul li:hover a{
    color: #FFF !important;
}
